@import "../base";

header {
  height: 86px;
  border-bottom: 1px solid #8e8f8f;
  img {
    margin: 31px 18px 0 37px;
    vertical-align: bottom;
  }
  span {
    font-size: 24px;
    color: #979797;
  }
}

$OPTION_BORDER_COLOR: #b4b4b4;

.optionContainer {
  width: 933px;
  height: 65px;
  border: 1px solid $OPTION_BORDER_COLOR;
  margin-top: 20px;
  margin-left: 34px;
  padding: 14px 0 14px 27px;
}

.optionValue {
  display: inline-block;
  width: 443px;
  height: 100%;
  font-size: 18px;
  vertical-align: top;
}

.optionCheckbox {
  margin-right: 16px;
}

#eyesServerUrl {
  font-size: 12px;
  width: 322px;
  height: 34px;
  margin-left: 19px;
  text-indent: 5px;
}

#restoreDefaultUrl {
  @include classicButton;
  margin-top: 7px;
  margin-left: 114px;
}

#eyesApiServerUrl {
  font-size: 12px;
  width: 289px;
  height: 34px;
  margin-left: 19px;
  text-indent: 5px;
}

#restoreDefaultApiUrl {
  @include classicButton;
  margin-top: 7px;
  margin-left: 146px;
}

#pagePartWaitTime {
  font-size: 12px;
  width: 297px;
  height: 34px;
  margin-left: 19px;
  text-indent: 5px;
}

#restoreDefaultPagePartWaitTime {
  @include classicButton;
  margin-top: 7px;
  margin-left: 139px;
}

.optionHelp {
  display: inline-block;
  width: 410px;
  height: 100%;
  font-size: 16px;
  padding: 0 40px 0;
}

#logsContainer {
  margin-top: 20px;
  margin-bottom: 10px;
  white-space: nowrap;

  .bar {
    display: inline-block;
    border: 1px solid $OPTION_BORDER_COLOR;

    &.left {
      margin-left: 34px;
      width: 26px;
    }

    &.right {
      width: 885px;
    }
  }

  label {
    vertical-align: middle;
    font-size: 18px;
    margin-left: 4px;
    margin-right: 4px;
  }
}

#runLogs {
  display: block;
  border: 1px solid $OPTION_BORDER_COLOR;
  width: 893px;
  height: 96px;
  padding: 28px 40px 38px 27px;
  margin-left: 34px;
  margin-top: 11px;
}
