@import "../base";

$BUTTON_HOVER_FONT_COLOR: #0b7ba2;

#mainPanel {
  position: relative;
  width: 452px;
  height: 52px;
  overflow-y: hidden;
  white-space: nowrap;
  @include userSelect(none);
  cursor: default;

  .mainPanelElement {
    outline: none;
  }

  #options {
      display: inline-block;
      position: relative;
      width: 17px;
      height: 17px;
      margin: 18px 15px;

      //noinspection CssUnknownTarget
      background-image: url("../images/options_regular.png");

      &:hover {
        //noinspection CssUnknownTarget
        background-image: url("../images/options_over.png");
      }

      &:active {
        //noinspection CssUnknownTarget
        background-image: url("../images/options_active.png");
      }
  }


  .button {
    display: inline-block;
    width: 116px; /* Remember we have borders 1px wide on each side */
    overflow: hidden;
    height: 24px;
    margin: 14px 0;
    border-right: solid 1px #a8a8a8;
  }

  #showBaseline {
    border-left: solid 1px #a8a8a8;
    //noinspection CssUnknownTarget
    background: url("../images/icon_baseline_regular.png") no-repeat 7px;

    &:hover {
      color: $BUTTON_HOVER_FONT_COLOR;
      //noinspection CssUnknownTarget
      background-image: url("../images/icon_baseline_over.png");
    }

    &:active {
      //noinspection CssUnknownTarget
      background-image: url("../images/icon_baseline_active.png");
    }
  }

  .showBaselineText {
    display: inline-block;
    width: 100%;
    margin-top: 3px;
    text-indent: 36px;
  }

  .selectContainer {
    position: relative;

    select {
      position: relative;
      top: -3px;
      left: -2px;
      border: none;
      width: 140px;
      height: 30px;
      font-family: "Open Sans", sans-serif;
      background: no-repeat 10px;

      &:hover {
        color: $BUTTON_HOVER_FONT_COLOR;
      }
    }

    .dropDownArrow {
      display: inline-block;
      position: absolute;
      top: 8px;
      right: 8px;
      width: 9px;
      height: 7px;
      z-index: -1; /* This is so that even when clicking on the arrow, the select input will be responsive */
      //noinspection CssUnknownTarget
      background-image: url("../images/dropdown_arrow_regular.png");

      &:active {
        //noinspection CssUnknownTarget
        background-image: url("../images/dropdown_arrow_active.png");
      }
    }

    &:hover {
      .dropDownArrow {
        //noinspection CssUnknownTarget
        background-image: url("../images/dropdown_arrow_over.png");
      }
    }

    #matchLevel {
      text-indent: 34px;
      //noinspection CssUnknownTarget
      background-image: url("../images/icon_match_level_regular.png");

      &:hover {
        //noinspection CssUnknownTarget
        background-image: url("../images/icon_match_level_over.png");
      }

      &:active {
        //noinspection CssUnknownTarget
        background-image: url("../images/icon_match_level_active.png");
      }
    }

    #viewportSize {
      text-indent: 32px;
      //noinspection CssUnknownTarget
      background-image: url("../images/icon_viewport_size_regular.png");

      &:hover {
        //noinspection CssUnknownTarget
        background-image: url("../images/icon_viewport_size_over.png");
      }

      &:active {
        //noinspection CssUnknownTarget
        background-image: url("../images/icon_viewport_size_over.png");
      }
    }

  }

  #run {
    display: inline-block;
    width: 21px;
    height: 17px;
    margin: 18px 15px;

    //noinspection CssUnknownTarget
    background-image: url("../images/camera_regular.png");

    &:hover {
      //noinspection CssUnknownTarget
      background-image: url("../images/camera_over.png");
    }

    &:active {
      //noinspection CssUnknownTarget
      background-image: url("../images/camera_active.png");
    }
  }
}

#baselinePanel {
  min-width: 448px;

  .selectionContainer {
    border-bottom: solid 1px #a8a8a8;
    height: 52px;
    padding-right: 18px;
    outline: none;
  }

  .defaultValuesContainer {
    &:focus {
      outline: none;
    }

    #defaultValuesExplanation {
      font-style: italic;
      color: #9b9b9b;
    }
  }

  .userSelection {
    // Margins here so that the selection bottom border will be stretched all the way.
    margin: 20px 18px 0;
  }

  .userInput {
    background-color: #eeeeee;
    font-style: italic;
    color: #9b9b9b;
    border: solid 1px #a8a8a8;
    @include transitionalProperty(background-color, 1s);
    text-indent: 5px;
  }

  .selected {
    font-style: normal;
    color: $DEFAULT_FONT_COLOR;
    background-color: white;
  }

  .invalidInput {
    background-color: rgb(246, 90, 90);
  }

  .shortInput {
    width: 179px;
    height: 21px;
  }

  .longInput {
    width: 376px;
    height: 21px;
  }

  #appName {
    margin-right: 16px;
  }

  .decisionButtonsContainer {
    position: relative;
    height: 53px;
    @include userSelect(none);
    cursor: default;
    padding-right: 18px;
  }

  .decisionButton {
    @include classicButton;
    float: right;
    margin-top: 18px;

    &#baselineCancel {
      margin-right: 16px;
    }
  }
}


