$BUTTON_HOVER_FONT_COLOR: #0b7ba2;

body {
  margin: 0;
  font: 12px "Open Sans", sans-serif;
}

.notDisplayed {
  display: none;
}

#mainPanel {
  position: relative;
  width: 452px;
  height: 52px;
  overflow-y: hidden;
  white-space: nowrap;
  //noinspection CssUnknownProperty
  -webkit-user-select: none;
  cursor: default;

  #options {
      display: inline-block;
      position: relative;
      width: 17px;
      height: 17px;
      margin: 18px 15px;

      //noinspection CssUnknownTarget
      background-image: url("../images/options_regular.png");

      &:hover {
        //noinspection CssUnknownTarget
        background-image: url("../images/options_over.png");
      }

      &:active {
        //noinspection CssUnknownTarget
        background-image: url("../images/options_active.png");
      }
  }


  .button {
    display: inline-block;
    width: 116px; /* Remember we have borders 1px wide on each side */
    overflow: hidden;
    height: 24px;
    margin: 14px 0;
    border-right: solid 1px #a8a8a8;
  }

  #showBaseline {
    border-left: solid 1px #a8a8a8;
    &:hover {
      color: $BUTTON_HOVER_FONT_COLOR;
    }
  }

  .showBaselineText {
    display: inline-block;
    width: 100%;
    margin-top: 3px;
    text-indent: 36px;
    //noinspection CssUnknownTarget
    background: url("../images/icon_baseline_regular.png") no-repeat 7px -3px;

    &:hover {
      //noinspection CssUnknownTarget
      background: url("../images/icon_baseline_over.png") no-repeat 7px -3px;
    }

    &:active {
      //noinspection CssUnknownTarget
      background: url("../images/icon_baseline_active.png") no-repeat 7px -3px;
    }
  }

  .selectContainer {
    position: relative;

    select {
      position: relative;
      top: -3px;
      left: -2px;
      border: none;
      width: 130px;
      height: 30px;
      background: no-repeat 10px;

      &:hover {
        color: $BUTTON_HOVER_FONT_COLOR;
      }
    }

    .dropDownArrow {
      display: inline-block;
      position: absolute;
      top: 8px;
      right: 8px;
      width: 9px;
      height: 7px;
      z-index: -1; /* This is so that even when clicking on the arrow, the select input will be responsive */
      //noinspection CssUnknownTarget
      background-image: url("../images/dropdown_arrow_regular.png");

      &:active {
        //noinspection CssUnknownTarget
        background-image: url("../images/dropdown_arrow_active.png");
      }
    }

    &:hover {
      .dropDownArrow {
        //noinspection CssUnknownTarget
        background-image: url("../images/dropdown_arrow_over.png");
      }
    }

    #matchLevel {
      text-indent: 34px;
      //noinspection CssUnknownTarget
      background-image: url("../images/icon_match_level_regular.png");

      &:hover {
        //noinspection CssUnknownTarget
        background-image: url("../images/icon_match_level_over.png");
      }

      &:active {
        //noinspection CssUnknownTarget
        background-image: url("../images/icon_match_level_active.png");
      }
    }

    #viewportSize {
      text-indent: 32px;
      //noinspection CssUnknownTarget
      background-image: url("../images/icon_viewport_size_regular.png");

      &:hover {
        //noinspection CssUnknownTarget
        background-image: url("../images/icon_viewport_size_over.png");
      }

      &:active {
        //noinspection CssUnknownTarget
        background-image: url("../images/icon_viewport_size_over.png");
      }
    }

  }

  #run {
    display: inline-block;
    width: 21px;
    height: 17px;
    margin: 18px 15px;

    //noinspection CssUnknownTarget
    background-image: url("../images/camera_regular.png");

    &:hover {
      //noinspection CssUnknownTarget
      background-image: url("../images/camera_over.png");
    }

    &:active {
      //noinspection CssUnknownTarget
      background-image: url("../images/camera_active.png");
    }
  }
}

#baselinePanel {
  min-width: 448px;

  .selectionContainer {
    border-bottom: solid 1px #a8a8a8;
    height: 52px;
    padding-right: 18px;
  }

  .userSelection {
    // Margins here so that the selection bottom border will be stretched all the way.
    margin: 20px 18px 0;
  }

  .userInput {
    background-color: #f9f9f9;
    border: solid 1px #a8a8a8;
  }

  .shortInput {
    width: 179px;
    height: 21px;
  }

  .longInput {
    width: 376px;
    height: 21px;
  }

  #appName {
    margin-right: 16px;
  }

  .decisionButtonsContainer {
    position: relative;
    height: 53px;
    //noinspection CssUnknownProperty
    -webkit-user-select: none;
    cursor: default;
    padding-right: 18px;
  }

  .decisionButton {
    float: right;
    display: inline-block;
    width: 181px;
    height: 23px;
    text-align: center;
    line-height: 2.2em;
    border: solid 1px #a8a8a8;
    background: #838383 linear-gradient(to bottom, #ececec, #e4e4e4);
    margin-top: 18px;

    &:hover {
      box-shadow: inset 0 0 5px rgba(255,255,255,.75);
    }

    &:active {
      background-image: linear-gradient(to top, #ececec, #e4e4e4);
    }

    &#baselineCancel {
      margin-right: 16px;
    }
  }
}


